/* style.css */
@font-face {
    font-family: Comfortaa-Regular;
    src: url(./font/comfortaa/Comfortaa-Regular.ttf);
}
  
@font-face {
    font-family: Comfortaa-Bold;
    src: url(./font/comfortaa/Comfortaa-Bold.ttf);
}

@font-face {
    font-family: Comfortaa-Light;
    src: url(./font/comfortaa/Comfortaa-Light.ttf);
}

@media (max-width: 600px) {
  .copy-btn {
    top: 6px;
    right: 6px;
    padding: 8px 12px;
    font-size: 14px;
  }
}

body {
    background-image: url("./images/bg1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    font-family: Comfortaa-Bold;
    margin: 20px;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.50);
}

h3 {
    font-family: Comfortaa-Bold;
    margin: 20px;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-family: Comfortaa-Bold;
    margin: 20px;
    text-align: center;
    font-weight: bold;
}

section {
    font-family: Comfortaa-Regular;
    margin: 20px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 25px;
    text-align: left;
    font-weight: bold;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.50);
}

footer {
    font-family: Comfortaa-Light;
    margin: 20px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.50);
}

.images {
    display: block;
    width: 50%;
}

.button {
    background-color: rgba(0, 187, 255, 1);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.2s ease;
}

.code-container {
  position: relative;
  background: #1e1e1e;
  color: #fff;
  padding: 14px;
  margin: 12px 0;
  border-radius: 6px;
  overflow: auto;
}

.code-container pre {
  margin: 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: pre;
  padding-top: 36px; /* space so text doesn't go under button */
}

.copy-btn {
  position: absolute;
  top: 8px;
  right: 8px; 
  z-index: 10; 
  background: rgba(0, 187, 255, 1);
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.2s ease;
  position: sticky;
  top: 6px;
  float: right;
}

.copy-btn:hover {
  background: rgb(0, 162, 220);
}

.copy-btn:active {
  background: rgb(0, 130, 177);
  transform: scale(0.95);
}

.button:hover {
  background: rgb(0, 162, 220);
}

.button:active {
  background: rgb(0, 130, 177);
  transform: scale(0.95);
}

pre {
  margin: 0;
}
