/* style.css */
@font-face {
    font-family: Comfortaa-Regular;
    src: url(./font/comfortaa/Comfortaa-Regular.ttf);
}
  
@font-face {
    font-family: Comfortaa-Bold;
    src: url(./font/comfortaa/Comfortaa-Bold.ttf);
}

@font-face {
    font-family: Comfortaa-Light;
    src: url(./font/comfortaa/Comfortaa-Light.ttf);
}

body {
    background-image: url(./images/bg.jpg);
}

.header {
    font-family: Comfortaa-Bold;
    margin: 20px;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.50);
}

h3 {
    font-family: Comfortaa-Bold;
    margin: 20px;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-family: Comfortaa-Bold;
    margin: 20px;
    text-align: center;
    font-weight: bold;
}

section {
    font-family: Comfortaa-Regular;
    margin: 20px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 25px;
    text-align: left;
    font-weight: bold;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.50);
}

footer {
    font-family: Comfortaa-Light;
    margin: 20px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.50);
}

.images {
    display: block;
    width: 50%;
}

.button {
  background-color: rgba(0, 187, 255, 1);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

pre {
  position: relative;
  background: rgba(255, 255, 255, 0.50);
  padding: 10px;
  font-size: 15px;
  word-wrap: break-word;
  white-space: pre-wrap;
  color: black;
}

.copy-button {
  position: absolute;
  top: 2px;
  right: 10px;
  cursor: pointer;
  color: #fff;
  background: gray;
  border-radius: 0.5em;
  padding: 2px 7px;
}

.copy-button:hover {
  color: #000;
}
